#!/bin/bash

xrdb -merge ~/.Xresources

xrandr --output DP-2 --primary --mode 2560x1440 --rate 239.97 --pos 1920x0
xrandr --output DP-0 --mode 1920x1080 --rate 144.00 --pos 0x0

setxkbmap -layout "us,cz(qwerty)" -option "grp:alt_shift_toggle"

